*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 20px 25px
}

a:hover{
    color: black;
    background-color: rgb(217, 212, 201);
}

.main{
    position: relative;
}


.topnav{
    background-color: rgb(52, 51, 51);
    position: absolute;
    overflow: hidden;
    top: 0px;
    position: fixed;
    width: 100%;
}

.section-two{
    padding-left: 15px;
}

p{
    margin: 15px 0;
    font-size: 20px;
}

h1,h2,h3{
    margin-top: 20px;
}