*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    padding: 10px ;
}
.main{
    padding: 10px 10px;
}


.btn-group button {
    background-color: #04AA6D; 
    border: 1px solid green; 
    color: white; 
    padding: 10px 24px; 
    cursor: pointer;
    float: left; 
  }



.btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; 
  }
  

  .btn-group button:hover {
    background-color: #3e8e41;
  }